
<p class="about-large">Knight Irrigation and Lawn is a full-service irrigation and lawn maintence company that specializes in the installation and repair of sprinkler systems.</p>

<p class="about-large">Owner and Founder, Kynn Knight, began working in the industry in 1998, and with over a decade of experience, he brings his knowledge, quality, and care to every client he works with.</p>
