<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<p >Knight Irrigation and Lawn is a full-service irrigation and lawn maintenance company that specializes in the installation and repair of sprinkler systems.</p>

<p >Owner and Founder, Kynn Knight, began working in the industry in 1998, and with over a decade of experience, he brings his knowledge, quality, and care to every client he works with.</p>

</div></div></div></div>
<br clear="all">
<div style="padding-top:30px"></div>

<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
      <h3>Frequently Asked Questions</h3>


	<script language="javascript">
	$(document).ready(function() {
	$('#faq').find('dd').hide().end().find('dt').click(function() {
	var answer = $(this).next();
	if (answer.is(':visible')) {
	answer.slideUp();
	} else {
	answer.slideDown('slow');
	}
	});
	});
	</script>

	<a href="#" style="float:right; color:white" onclick="$('#faq').find('dd').slideDown('slow');">Expand All</a><br clear="all">
  <dl id="faq">    
      <dt>
      <a href="#">Does Knight Irrigation and Lawn employ licensed irrigators?</a>              
      </dt>
          <dd>Yes, Knight Irrigation and Lawn has a licensed irrigator and backflow tester on staff TCEQ: <span style="color:blue">LI14691</span> and BPAT: <span style="color:blue">BP12428</span>.  
	  </dd>


      <dt><a href="#">What does the Warranty include that is given on all installed Irrigation Systems?</a>              
      </dt>
      <dd>The warranty includes all working parts for a period of 1-3 years on most systems. Physical               damage is excluded from this warranty. </dd> 



      <dt><a href="#">How does the estimate process work?</a>              
      </dt>
      <dd>Knight Irrigation and Lawn provides free estimates on most jobs. If you are interested in an               estimate, all you have to do is call or email the office and one of our staff will walk you through               the process.  
      </dd>


      <dt><a href="#">If I am having an Irrigation System installed, what can I expect my yard to look like afterwards?</a>              
      </dt>
      <dd>Most Irrigation Systems are installed with hand-dug trenches. Your grass is carefully removed               and then replaced after the installation is complete. In most cases, you can’t even tell you had a               sprinkler system installed!  
      </dd>


      <dt><a href="#">How long does it take to complete most jobs?</a>              
      </dt>
      <dd>In most cases, Knight Irrigation and Lawn can complete the job in 1 day.  
      </dd>


      <dt><a href="#">Are rain sensors included in the estimate for Irrigation Systems?</a>              
      </dt>
      <dd>Yes, rain sensors are installed on all irrigation systems and included in the estimate. Rain sensors               are an important part of water conservation and will save you money by not watering your lawn               when it’s not necessary.  
      </dd>


      <dt><a href="#">What areas do Knight Irrigation and Lawn service?</a>              
      </dt>
      <dd>We service all of Houston and the surrounding communities.  
      </dd>


	<dt><a href="#">Do you provide references?</a>            
      </dt>
      <dd>Yes, references from former customers are available upon request.
      </dd>
	</dl>

</div></div></div></div>
<br clear="all">
<div style="padding-top:30px"></div>

<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<h3>From the Customers</h3>
<blockquote>Knight Irrigation came by my house and discussed my system needs and wants with me and gave me an estimate that night!  Kynn and his team showed up on time and did a 7 zone install in less than 6 hours for the price he quoted. They also took the time to follow up with me with regards to any issues or problems; my experience with Knight Irrigation could not have gone better!</blockquote>
<div style="float:right">Kelly Walker, New Caney, TX.</div>

<h3>From the Owner</h3>
<blockquote>I have been in the irrigation and landscaping industry since 1998. I pride myself in completing high quality work and helping to provide my customers with an outdoor space that they can be proud of for years to come. We install irrigation systems that ensure optimal performance based on the necessary application in which we will guarantee your lawn and landscape will be healthy and lush. We also provide quality customer service and will go out of our way to make sure every client is happy with the services we provide because that is the most important aspect of our job. I surround myself with a great, hardworking, staff that specializes in both irrigation and landscaping."
</blockquote>
<div style="float:right">Kynn Knight, Founder, Knight Irrigation and Lawn</div>
</div></div></div></div>