<img src="images/drainage.gif" style="float:left; padding-top:20px; padding-right:30px">

<div class="bottom"><div class="content">
	<h2>Drainage</h2>

	<p>Torrential rains are a common occurrence on the Gulf Coast, and drainage systems can prevent hundreds and maybe even thousands of dollars worth of damage to your landscaping by ridding your property of unwanted water.
	</p>
	<p>Knight Irrigation and Lawn installs both French and Solid drains.</p>  


</div></div>
<br clear="all">

<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<h4>Licensing Information</h4>
<ul>
	<li>TCEQ LI: #14691</li>
	<li>BPAT: </li>
</ul>

</div></div>
</div></div>

