  

      <h2>Frequently Asked Questions</h2>
      
      <h3>
      Does Knight Irrigation and Lawn employ licensed irrigators?              
      </h3>
      <p>Yes, Knight Irrigation and Lawn has a licenses irrigator and backflow tester on staff TCEQ LI               #14691 and BPAT LI #__________.  
      </p>
       
      
      <h3>What does the Warranty include that is given on all installed Irrigation Systems?              
      </h3>
      <p>The warranty includes all working parts for a period of 1-3 years on most systems. Physical               damage is excluded from this warranty. </p> 
      
       
      
      <h3>How does the estimate process work?              
      </h3>
      <p>Knight Irrigation and Lawn provides free estimates on most jobs. If you are interested in an               estimate, all you have to do is call or email the office and one of our staff will walk you through               the process.  
      </p>
       
      
      <h3>If I am having an Irrigation System installed, what can I expect my yard to look like afterwards?              
      </h3>
      <p>Most Irrigation Systems are installed with hand-dug trenches. Your grass is carefully removed               and then replaced after the installation is complete. In most cases, you can’t even tell you had a               sprinkler system installed!  
      </p>
       
      
      <h3>How long does it take to complete most jobs?              
      </h3>
      <p>In most cases, Knight Irrigation and Lawn can complete the job in 1 day.  
      </p>
       
      
      <h3>Are rain sensors included in the estimate for Irrigation Systems?              
      </h3>
      <p>Yes, rain sensors are installed on all irrigation systems and included in the estimate. Rain sensors               are an important part of water conservation and will save you money by not watering your lawn               when it’s not necessary.  
      </p>
       
      
      <h3>What areas do Knight Irrigation and Lawn service?              
      </h3>
      <p>We service all of Houston and the surrounding communities.  
      </p>
       

	<h3>Do you provide references?              
      </h3>
      <p>Yes, references from former customers are available upon request.
      </p>