
<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<p >Knight Irrigation and Lawn is a full-service irrigation and lawn maintenance company that specializes in the installation and repair of sprinkler systems. For more information about our <a href="irrigation">Irrigation</a>, <a href="/landscaping">Landscaping</a>, <a href="/powerwashing">PowerWashing</a>, and <a href="/drainage">Drainage</a> work in Houston, TX and the surrounding areas, please <a href="/contact">contact us</a>.</p>

</div></div></div></div>
<br clear="all">

<div style="padding-top:40px">
<embed type="application/x-shockwave-flash" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" width="800" height="600" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fsarah.g.wills%2Falbumid%2F5371255649418846177%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</p>
</div>