<div class="sections">
  <a class="irrigation" href="/irrigation">IRRIGATION</a>
  <a class="drainage" href="/drainage">DRAINAGE</a>
  <a class="landscaping" href="/landscape">LANDSCAPING</a>
  <a class="powerWashing R" href="/powerwash">POWER WASHING</a>
  <br class="clear" />
</div><!-- end .sections -->