<div class="sections">
  <a class="irrigation" href="#">IRRIGATION</a>
  <a class="drainage" href="#">DRAINAGE</a>
  <a class="landscaping" href="#">LANDSCAPING</a>
  <a class="powerWashing R" href="#">POWER WASHING</a>
  <br class="clear" />
</div><!-- end .sections -->