<img src="images/irrigation.gif" style="float:right; padding-top:20px">

<div class="bottom"><div class="content">
<h2>Agriculture Irrigation</h2>	
<p>Need to make your farmland more profitable? Want to increase the number of cuts from 2 per year to 5?</p>
<p>The Traveling Gun irrigation system has a performance record of taking a client's crop from 2 cuts and increasing the yield to 5 cuts per year. Amazingly enough, it did this with a return on investment in the irrigation system that <b>paid for itself in one year.</b></p>
<p>The pictures below are from a client installation. <a href="/contact">Contact us</a> to learn how to make your land more profitable through proper irrigation and fertilization.</p>
	
	<div class="gallerylong gallery">
    		<a href="/images/gallery/travelinggun.jpg" class="travelinggun" title="Traveling Gun Install"><img border="0" src="/images/gallery/travelinggun_thumb.jpg"  /></a>
	   		<a href="/images/gallery/travelinggun_trench.jpg" class="travelinggun R" title="Traveling Gun Install"><img border="0" src="/images/gallery/travelinggun_trench_thumb.jpg" class="lightbox" /></a>
	     	<a href="/images/gallery/travelinggun_trench_install_before.jpg" class="travelinggun" title="Traveling Gun Install"><img border="0" src="/images/gallery/travelinggun_trench_install_before_thumb.jpg" class="lightbox" /></a>
			<a href="/images/gallery/travelinggun-pipes.jpg" class="travelinggun" title="Traveling Gun Install"><img border="0" src="/images/gallery/travelinggun-pipes_thumb.jpg" class="lightbox" /></a>
	   		<a href="/images/gallery/travelinggun_trench_install.jpg" class="travelinggun" title="Traveling Gun Install"><img border="0" src="/images/gallery/travelinggun_trench_install_thumb.jpg" class="lightbox" /></a>
	    </div>
<br clear="all">
	
<h2>Home Sprinkler and Irrigation Systems</h2>
<p>Irrigation systems are a high priority in this area of Texas, and that’s why Premierscape Services, LLC only utilizes professional-grade parts on all jobs.
</p>
<p>Backflow devices are also installed on all Irrigation Systems. These devices are required by the State of Texas.
</p>
<p><em>Free Estimates are always provided, and work is completed on your yard within one day.*</em></p>

<p>Full 1-3 year Warranties are also provided in most cases.**
</p>
<p style="font-size:80%">
*Applies to standard-size yards only.<br/>
**Warranties only apply to working parts, and excludes physical damage.
</p>
</div></div>




<br clear="all">

<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<h4>Licensing Information</h4>
<ul>
	<li>TCEQ: <span style="color:orange">LI14691</span></li>
	<li>BPAT: <span style="color:orange">BP12428</span></li>
</ul>

</div></div>
</div></div>
