<img src="images/landscaping.gif" style="float:right; padding-top:20px; padding-left:30px">

<div class="bottom"><div class="content">
<h2>Landscaping</h2>

<p>The curb appeal of your home is something that is important for its value. We also specialize in bed restoration and re-design.</p>

<p>Our experts will work with you on your ideas to come up with the best way to beautify your home.  
</p>


</div></div>
<br clear="all">

<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<h4>Licensing Information</h4>
<ul>
	<li>TCEQ: <span style="color:orange">LI14691</span></li>
	<li>BPAT: <span style="color:orange">BP12428</span></li>
</ul>

</div></div>
</div></div>
