<img src="images/landscaping.gif" style="float:left; padding-top:20px; padding-right:30px">

<div class="bottom"><div class="content">
<h2>Landscaping</h2>

<p>The curb appeal of your home is something that is important for its value. We also specialize in bed restoration and re-design.</p>

<p>Our experts will work with you on your ideas to come up with the best way to beautify your home.  
</p>


</div></div>
<br clear="all">

<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<h3>Texas Licenses</h3>
<table width="250px">
	<tr>
		<td>TCEQ LI</td>
		<td>14691</td>
	</tr>
	<tr>
		<td>BPAT</td>
		<td>__</td>
	</tr>
</table> 
</div></div>
</div></div>