<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%
  path_without_slash = request.path_info
  path_without_slash.slice!(0)
%>
<title><%= "#{path_without_slash.gsub('-', ' ').split(/\s+/).each{ |word| word.capitalize! }.join(' ')} | " if request.path_info != ""%>Premierscape Services LLC<% if request.path_info == ''%>: Houston Irrigation Repair and Landscaping<% end %></title>
<% if path_without_slash == ''%><meta name="description" content="Premiuerscape Services LLC and Lawn is a full-service irrigation and lawn maintence company that specializes in the installation and repair of sprinkler systems."/><% end %>

<link href='http://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC' rel='stylesheet' type='text/css'>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="style/jquery.lightbox-0.5.css" media="screen" /> 

</head>


<body id="<% if path_without_slash == ''%>home<% else %>subject<%end%>">

<div id="top"><div class="wrap">
	
        <ul id="menu">
        <%
        	[ "home", "irrigation", "drainage", "landscaping", "powerwashing", "sprinkler-repair", "testimonials", "contact", "about" ].each do |route| %>
        	<%=nav_active(route, path_without_slash)%>
        	<%end%>
        </ul>
<!-- end #menu -->
  
  <div class="phone">832-335-9233</div>
  
  <a href="/" class="branding"><h1>Premierscape Services, LLC</h1></a>

<%= yield %>


</div></div><!-- end #top -->



<div id="bottom"><div class="wrap">
	<div class="about">
    	<h2>About Us</h2>
    	<p>Premierscape Services, LLC is a full-service irrigation and lawn maintenance company that specializes in the installation and <a href="/sprinkler-repair">repair of sprinkler systems</a>. </p>
        <a href="/about">More About</a> | <a  href="http://www.facebook.com/pages/Houston-TX/Knight-Irrigation-Lawn/237295508600">On Facebook</a> | <a href="/testimonials">Testimonials</a>
    </div><!-- end .about -->
    
    <div class="gallery">
     	<h2>Gallery</h2>
    	<a href="/images/gallery/landscaping.jpg" class="lightbox" title="Landscaping and Sprinkler Install"><img border="0" src="/images/gallery/landscaping_thumb.jpg"  /></a>
        <a href="/images/gallery/sprinkler.jpg" class="lightbox" title="No trace of system install: Katy, TX"><img border="0" src="/images/gallery/sprinkler_thumb.jpg" class="lightbox" /></a>
        <a href="/images/gallery/sprinkler-1.jpg" class="lightbox R" title="Landscaping and Sprinkler Install"><img border="0" src="/images/gallery/sprinkler-1_thumb.jpg" class="lightbox" /></a>
        <a class="more" href="/gallery">View More</a>
    </div><!-- end .gallery -->
    
    <div class="likeTo">
    	<h2>Contact Us</h2>
        <div class="box"><div class="top"><div class="bottom">
        	<p>
	Phone: 832-335-9233<br/>
	<a href="mailto:info@premierscapeservices.com">info@premierscapeservices.com</a>
	</p>
        </div></div></div><!-- end .box -->
    </div><!-- end .likeTo -->
    
    <br class="clear" />
    
    <div class="hr"></div>
    
    <p class="copyright" style="width:400px">Copyright &copy; 2012 Premierscape Services, LLC</p>
    <p class="designer"></p>
    
    <br class="clear" />
</div></div><!-- end #bottom -->

<script type="text/javascript" src="/scripts/jquery.lightbox-0.5.js"></script> 

<script type="text/javascript">
$(function() {
	$('a.lightbox').lightBox();
	$('a.travelinggun').lightBox();
});
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11303639-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
