<img src="images/powerWashing.gif" style="float:left; padding-top:20px; padding-right:30px">

<div class="bottom"><div class="content">
<h2>Power Washing</h2>

<p>Dirt, Grime, and Mold removal are tedious tasks, especially if you’re only using a garden hose. Our Power Washing services can remove all of these common problems from a multitude of surfaces including:
</p>

<ul>    
	<li>Sidewalks</li>
    <li>Driveways</li>
    <li>Houses</li>
    <li>Fences</li>
    <li>Patios</li>
</ul>
</div></div>
<br clear="all">

<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<h4>Licensing Information</h4>
<ul>
	<li>TCEQ: <span style="color:orange">LI14691</span></li>
	<li>BPAT: <span style="color:orange">BP12428</span></li>
</ul>

</div></div>
</div></div>