
<h2>Irrigation</h2>

<p>Irrigation systems are a high priority in this area of Texas, and that’s why Knight Irrigation and Lawn only utilizes professional-grade parts on all jobs.
</p>
<p>Backflow devices are also installed on all Irrigation Systems. These devices are required by the State of Texas.
<em>Free Estimates are always provided, and work is completed on your yard within one day.*</em>
</p>
<p>Full 1-3 year Warranties are also provided in most cases.**
</p>
<p>TCEQ LI #14691<br/>
BPAT LI #
</p>
<p>
*Applies to standard-size yards only.<br/>
**Warranties only apply to working parts, and excludes physical damage.
</p>
 
<hr/>



<h2>Drainage</h2>



<p>Torrential rains are a common occurrence on the Gulf Coast, and drainage systems can prevent hundreds and maybe even thousands of dollars worth of damage to your landscaping by ridding your property of unwanted water.
</p>
<p>Knight Irrigation and Lawn installs both French and Solid drains.</p>  

 
<hr/>
<h2>Landscaping</h2>

<p>The curb appeal of your home is something that is important for its value. We also specialize in bed restoration and re-design.</p>

<p>Our experts will work with you on your ideas to come up with the best way to beautify your home.  
</p>
 
<hr/>
<h2>Power Washing</h2>

<p>Dirt, Grime, and Mold removal are tedious tasks, especially if you’re only using a garden hose. Our Power Washing services can remove all of these common problems from a multitude of surfaces including:
</p>
<ul>    
	<li>Sidewalks</li>
    <li>Driveways</li>
    <li>Houses</li>
    <li>Fences</li>
    <li>Patios</li></ul>

 

   

