
<img src="images/irrigation.gif" style="float:right; padding-top:20px">

<div class="bottom"><div class="content">
<h2>Sprinkler Repair Services</h2>


<p><strong>How much does it cost?</strong><br/>
Most repairs are a set hourly rate plus materials.</p>
 
<p><strong>How long will it take?</strong><br/>
Most repairs take no longer than a few hours (depending on the difficulty of the repair).</p>
 
<p><strong>What should I do right now before Knight Irrigation?</strong><br/>
My suggestion would be depending on the severity of the problem, turn your sprinkler system off at the backflow device to prevent wasting water and call for help or information.</p>
 
<p><strong>Why should I use a professional?</strong><br/>
Well in some cases a professional is needed. Most homeowners are capable of changing a broken sprinkler head but what if the problem is more complex that lies beneath? I will diagnose every problem before any repairs are performed to make sure your comfortable moving forward.</p>

<p><strong>How do I get started?</strong><br/>
Call us right now at <em>832-335-9233</em>. We can schedule after hours and weekends to fit your availability.
</p>

</div></div>




<br clear="all">

<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<h4>Licensing Information</h4>
<ul>
	<li>TCEQ: <span style="color:orange">LI14691</span></li>
	<li>BPAT: <span style="color:orange">BP12428</span></li>
</ul>

</div></div>
</div></div>
