<div class="wrap2"><div class="top"><div class="bottom"><div class="content">
<h3>Satisfied Customers</h3>
<blockquote>Knight Irrigation came by my house and discussed my system needs and wants with me and gave me an estimate that night! Kynn and his team showed up on time and did a 7 zone install in less than 6 hours for the price he quoted.   
<p>They also took the time to follow up with me with regards to any issues or problems; <em>my experience with Knight Irrigation could not have gone better</em>!</p></blockquote>
<div style="float:right">Kelly Walker, New Caney, TX.</div>
<br clear="all">

<blockquote style="padding-top:20px">
Just want to say thanks for the very professional job that you did for me over the summer.  Your crew was very efficient and once they were done I could not tell that they had been there much less put in a 5 zone sprinkler system.  
<p>I also want to comment on your service after the sale.  When I needed to have something tweaked you came right out and fixed the issues.  Please feel free to give out my name for a reference.</p>
<br/>
<div style="float:right">Mike Schlotzhauer</div>
</blockquote>
<br clear="all">
</div>
</div>
</div>
</div>